/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.mainPage {
    width: 900px;
/*     height: calc(100vh - 200px); */
    padding-top: 80px;
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: antiquewhite; */
}

/* .mentorStarRatingBox {
    justify-content: center;
} */

.mentorRatingTitle {
    margin-left: 560px;
}

.mentorStarRating {
    border: 1px solid #dadddf;
    width: 800px;
    height: 320px;
    margin-left: 560px;
    /* background-color: white; */
    background-color: #edeff2;
}

.mentorBox {
    margin-top: 35px;
}

.mentorInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.mentorReviewResult {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.mentorSet {
    color: gray;
    margin-right: 10px;
}

.mentor {
    font-weight: 600;
}

.reviewSet {
    color: gray;
    margin-right: 10px;
}

.reviewCount {
    font-weight: 600;
}

.mentorStar {}

.rateBox {
    width: 220px;
    height: 170px;
    float: left;
}

.starRateBox {
    margin-top: 25px;
    margin-left: 74px;
}

.starRateViewBox {
    margin-left: 60px;
}

.starRateSet {
    font-size: 30px;
    font-weight: bold;
    /* color: gray; */
}

.starRate {
    color: black;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 50px;
}

.fa-star {
    font-size: 40px !important;
    color: #dee2e6;
}

.fa-star.active {
	color: #ffc807;
}

.badge {

    font-size: 25px;
    font-weight: 200;
}

.badge i {

    font-size: 20px;
    font-weight: 200;
}

.about-rating {

    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.total-ratings {

    font-size: 12px;

}

.bg-custom {

    background-color: #b7dd29 !important;
}

.progress {
    margin: 0;
    margin-top: 10px;
    width: 480px;
    background-color: lightgray !important;
}

.progressRateNum {
    display: inline;
}

.starRateNumBox {
    position: absolute;
    margin-top: 23px;
    margin-left: 190px;
}

.starRateNum {
    margin-bottom: 2px;
    font-weight: bold;
}

.reviewCommentBox {
    width: 1100px;
    margin-left: 430px;
    margin-top: 55px;
    margin-bottom: 150px;
}

.commentTitle {
    border-bottom: 1px solid black;
    margin: 0 !important;
}

.reviewStar {
    font-size: 15px !important;
}

/* .reviewTableTitle {
    width: 100%;
} */

.reviewTableBox {
	border-bottom: 1px solid #dadddf;
}

.reviewTableTitle td:nth-child(1) {
    width: 10%;
}

.reviewTableTitle td:nth-child(2) {
    width: 15%;
}

.reviewTableTitle td:nth-child(3) {
    width: 15%;
}

.reviewTableTitle td:nth-child(4) {
    width: 50%;
}

.reviewTableTitle td:nth-child(5) {
    width: 10%;
}

.reviewTableBody td {
    word-break: break-all;
}

.reviewTableBody td:nth-child(1) {
    width: 10%;
}

.reviewTableBody td:nth-child(2) {
    width: 15%;
}

.reviewTableBody td:nth-child(3) {
    width: 15%;
}

.reviewTableBody td:nth-child(4) {
    width: 50%;
}

.reviewTableBody td:nth-child(5) {
    width: 10%;
}

.reviewTableBodyBox {
    max-height: 750px;
    overflow: auto;
    margin: 0;
}

.reviewTableBodyBox::-webkit-scrollbar {
    width: 3px;
}

.reviewTableBodyBox::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px;
}

.reviewTableBodyBox::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.reviewTableBodyBox::-webkit-scrollbar:horizontal {
    height: 5px;
}

/* .reviewTableBody {
     display: block;
    width: 1000px;
    max-height: 700px;
    overflow: auto;
    margin: 0;
} */