@charset "UTF-8";

@import url(/fonts/index/notosans/notosanskr.css);
@import url(/fonts/index/silka/roman/stylesheet.css);

body{
	background-color: #edf2f9!important;
}

.list_button{
	float: right;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	background-color: white; 
	width: 141px; 
	height: 45px;
	text-align:left;
}

#list_name{
	padding-left: 10px;
}

.drop_nav_list{
	position: absolute;
	top: 63px;
	right: 0px;
	background-color: white;
	width: 141px;
	height: 134px;
	border-radius: 7px;
	padding-top: 10px;
	padding-bottom: 0.01px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	overflow-y: scroll;
}

.drop_nav_list::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

.drop_nav_list::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #c1c8ce; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.drop_nav_list::-webkit-scrollbar-track {
    /* background: rgba(33, 122, 244, .1);  스크롤바 뒷 배경 색상 */
    background: none;
}

.campaign_status_box{
	height: 90px;
	/* width: max-content; */
	margin-bottom: 48px;
	border-bottom: 2px solid #dee2e6;
	margin-top: 44px;
}

.campaign_status_icon{
	height: 40px;
	width: 6px;
	border-radius: 20px;
	background-color: #5865f2;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
/* 
.campaign_status_box p {
	display: inline-block;
} */

.nav_list li{
	list-style: none;
	width: 120px;
	padding: 7px 10px;
	text-align: center;
	/* border-top-right-radius: 20px 20px; */
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.non_active{
	display: none;
}

ul{
	/* margin-bottom: 42px!important; */
	padding-left: 0px!important;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* td {
	border-left: 2px solid white;
	border-right: 2px solid white;
} */

.nav_clicked_list{
	/* border-style: solid;
	border-color: #007bff;
    border-width: 3px 3px 3px 3px; */
    
    background-color: #007bff;
	color: white;
}

.status_text{
	width: max-content;
	background-color: rgb(222 207 246); 
	padding: 7px 13px; 
	color: rgba(128,69,221); 
	border-radius: 5px; 
	margin: 0 auto;
}

th, td{
	padding: 15px;
	border-bottom: 2px solid #dee2e6;
}

th.hiddenId{
	padding: 0px!important;
}

td.hiddenId{
	padding: 0px!important;
}

.table_name{
	text-align: center!important;
	height: 50px; 
	font-size: 19px;
}

.table_head{
	height: 50px; 
	font-size: 19px; 
	text-align: center;
}

.campaign_apply_list_wrapper{
	position: relative;
	width: max-content;
	/* height: 1000px; */
	margin: 0 auto;
	/* position: relative; */
	margin-top: 25px;
}

.margin_header{
	width: 100%;
	height: 55px;
}

.applied_list_wrapper, .approved_list_wrapper, .rejected_list_wrapper, .confirmed_list_wrapper{
	width: max-content;
	background-color: white;
	margin-bottom: 10px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	/* border: 3px solid #4153FF; */
	border-radius: 10px;
}

.campaign_applied_list_text{
	/* width: 100%; */
 	border-bottom: 1px solid #a2a9b0;
	color: black;
	font-size: 20px;
}


.campaign_approved_list_text, .campaign_confirmed_list_text, .campaign_rejected_list_text{
	width: 100%; 
 	border-bottom: 1px solid #a2a9b0;
	color: black;
	font-size: 20px;
}

.campaign_list_table_box{
	/* margin-top: 1px; */
}

#nav_applied_list:hover, #nav_approved_list:hover, #nav_rejected_list:hover, #nav_confirmed_list:hover{
	background-color: #007bff;
	transition-duration: 0.1s;
	color: white;
	cursor: pointer;
}

#approved_list_wrapper, #rejected_list_wrapper, #confirmed_list_wrapper{
	display: none;
}

#confirm_campaign{
  	all: unset;
  	border-color: #8045dd;
	display: block; 
	margin-top: 40px; 
	padding: 18px 20px;
	background-color: #8045dd;
	color: white;
	border-radius: 10px;
	font-size: 17px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#confirm_campaign:hover{
	cursor: pointer;
	border-color: #663aaa;
	background-color: #663aaa;
	transition-duration: 0.2s;
}