body {
    background-color: #edf2f9;
    font-family: 'Noto Sans KR', sans-serif;
}

.returnButton {
	position: absolute;
	left: 20px;
	top: 12px;
	width: 250px;
	height: 70px;
	background-color: #edf2f9;
	font-size: 24px;
	color: gray;
	border: 0;
}

.mainBody {
    width: 1400px;
    height: calc(100vh - 70px);
    margin-left: 330px;
}

.containerBox {
    display: flex;
    width: 840px;
}

.swiper {
    /* position: relative; */
    /* background-color: white; */
    width: 800px;
    height: 933px;
    justify-content: center;
    margin: 0;
}

.innerBox {
    position: relative;
    top: 35%;
    width: 100%;
    height: 300px;
}

.questionBox {
    width: 100%;
    font-size: 28px;
    text-align: center;
}

.subQeustion {
    font-size: 20px;
}

.inputBox {
    margin-top: 30px;
    margin-right: 30px;
    text-align: right;
}


.inputValue {
    width: 500px;
    height: 50px;
    font-size: 25px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: #edf2f9;
    outline: none;
}

.selectButtonBox {
	margin-top: 15px;
	text-align: center;
}

.jobCategoryBox {
	text-align: left;
}

select {
	color: lightcoral;
	font-weight: bord;
	width: 80px;
	padding: 0.8em 0.4em;
	margin-right: 7px;
	border: 2px solid lightcoral;
	font-family: inherit;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	justify-content: center;
	text-align-last: center;
	text-align: center;
}

option {
  background: lightcoral;
  color: #fff;
  padding: 3px 0;
}


.fileForm {
    text-align: center;
}

.fileBox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* .filebox label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} */

.fileBox label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #337ab7;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.fileBox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.buttonBox {
    margin-top: 20px;
}

.checkButton, .addButton {
    background-color: rgb(42, 125, 225);
    color: white;
    border: 0;
    width: 75px;
    height: 35px;
    border-radius: 10%;
}

.checkButton {
	margin-right: 35px;
}

#jobCheck {
	margin-right: 0;
}

.clearButton {
	background-color: lightgray;
	border: 0;
	width: 75px;
    height: 35px;
	border-radius: 10%;

}

.categoryOne {
	background-color: rgb(225, 42, 179);
    color: white;
    border: 0;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    height: 35px;
    border-radius: 7px;
    font-size: 25px;
    line-height: 22px;
}

.upload-name {
	margin-left: 20px;
}



.submitBox {
    text-align: center;
}

.submitButton {
    background-color: rgb(225, 42, 179);
    color: white;
    border: 0;
    width: 100px;
    height: 38px;
    font-size: 18px;
    border-radius: 15px;
    margin-left: 15px;
}

.swiperButtonBox {
    width: 80px;
    height: 40px;
    position: relative;
    background-color: rgb(42, 125, 225);
    float: right;
    top: 800px;
    border-radius: 15px;
}

.swiper-button-prev {
    color: white;
    /* background-color: rgb(42, 125, 225); */
    background-size: 50% auto;
    background-position: center;
}

.swiper-button-next {
    color: white;
    /* background-color: rgb(42, 125, 225); */
    background-size: 50% auto;
    background-position: center;
    float: left;
}

.swiper-button-prev:after {
    font-size: 20px;
}

.swiper-button-next:after {
    font-size: 20px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    opacity: .2;
}