body {
    /* background-color: #edf2f9; */
    
}

.mainBody {
    width: 1400px;
    height: calc(100vh - 70px);
    padding-top: 80px;
    margin-left: 330px;
    margin-right: 200px;
}

/* .bodypg {
    position: relative;
} */

.contentpg {
    float: left;
    width: 840px;
    /* margin-right: 40px; */
}

.titleMenu ul {
    display: table;
    width: 100%;
    font-size: 30px;
    table-layout: fixed;
    margin-bottom: 0;
    padding-left: 0;
}

.titleMenu li {
    display: table-cell;
    width: auto;
    height: 40px;
    padding: 1px 0 1px 1px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.titleMenu li:nth-child(1) {
    background-color: lightslategray;
}

.titleMenu li:nth-child(2) {
    background-color: cadetblue;
}

.menuName2 {
    float: right;
}


.menuContent {
    margin-top: -1px;
    padding: 31px 0 30px;
    border: 1px solid #dadddf;
    background-color: #edeff2;
}

.menuContent ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0;
    padding-left: 0;
}

.menuContent li:nth-child(1) {
    display: table-cell;
    width: auto;
    height: 40px;
    padding: 1px 0 1px 1px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid lightgray;
    font-size: 30px;
}

.menuContent li:nth-child(2) {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    list-style: none;
}

.lineInner {
    display: flex;
    width: 400px;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    padding: 9px 0 3px 0;
    appearance: none;
}

.line {
    border-bottom: 1px solid black;
}

.inputValue {
    width: 200px;
    border: 0;
    background-color: #edeff2;
    outline: none;
}

.value_cellBox {
    display: table;
    table-layout: fixed;
    margin-top: 15px;
    width: 270px;
    border: 1px solid #c5cbd0;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.cellBox {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #c5cbd0;
}

.cellBox:nth-child(1) {
    border-left: 0;
}

.button_price {
    cursor: pointer;
    border: 0;
    background-color: #dadddf;
    appearance: none;
    width: 100%;
    padding: 12px 0 13px;
    line-height: 18px;
    font-size: 16px;
    color: #222;
}

.paymentBox {
    margin-bottom: 100px;
}

.paymentTitle {
    padding-top: 25px;
    border-bottom: 1px solid #222;
}

.paymentOption {
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 3px;
}

.table_container {
    width: 100%;
    border: 1px solid #c5cbd0;
}

.useTable {
    display: block;
    width: 100%;
    background-color: white;
    margin-bottom: 0 !important;
    overflow: auto;
}


.useTable thead {
    display: table-header-group;
    box-sizing: inherit;
    vertical-align: middle;
    border-color: inherit;
}

.useTable td {
    text-align: center;
    width: 170px;
}

.useTable tbody {
    display: block;
    max-height: 500px;
    overflow: auto;
}

thead tr:nth-child(1) {
    font-weight: bold;
}

.useTableBody {
    max-height: 500px;
    overflow: auto;
    margin: 0;
}

.chargeHistory {
    float: right;
    padding-right: 30px;
}

.subpg {
    float: left;
    overflow: hidden;
    min-width: 300px;
    background-color: white;
    padding: 20px 20px 13px 20px;
    border: 1px solid lightgray;
}

.welcomeSubpg {
    border-bottom: 1px solid lightgray;
}

.subpgMenu {
    border-bottom: 1px solid lightgray;
    padding: 20px 0 20px 0;
    vertical-align: middle;
}

.userName {
    /* padding-left: 20px; */
}

.viewName {
    padding-left: 10px;
}

.viewValue {
	position: relative;
    float: right;
    padding-right: 5px;
}

#userBox {
	position: relative;
	bottom: 12px;
	padding-right: 15px;
}