#main_sidebar {
  background-color: #7c7c79;
  background-color:  #282828;;

  color: white;

  width: 100%;

  font-size: 1vw;

  margin-top: var(--nav_height);

  border: none;

  height: 320px;

}

.sidebar_menu_blank{
	width: 10%;
	
	height:inherit;
	
	float:left;
}

.sidebar_menu_main{
	width:80%;
	
	
	height:50px;
	
	float:left;
}

.sidebar_main_menu{
	width:20%;
	float:left;
	height:inherit;
	float:left;
	
	
}

.sidebar_main_text{
	width: 100%;
	height:50px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_sub_text{
	width: 100%;
	height:50px;
	padding-left:15%;
	padding-right:15%;
	
		display: flex;
  justify-content: center;
  align-items: center;
}

.menu_icon{
	margin-right:10px;
}

button:active, button:focus, button::after {
	border: none;
	box-shadow: none;
	cursor: default;
	outline: none;
}

.btn_no {
	
}

.btn_no:active, .btn_no:focus, .btn_no::after {
	border: none;
	box-shadow: none;
	cursor: default;
	outline: none;
}

.btn_no_2 {
	
}

.btn_no_2:active, .btn_no_2:focus, .btn_no_2::after {
	border: 1px solid gray;
	box-shadow: none;
	cursor: default;
	outline: none;
}

.button_noline {
	border: 0;
	outline: 0;
}

/* .btn-gradient {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  /* position: relative; */
/* border: 1px solid rgba(0,0,0,0.21); 
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
 */

/* 캠페인 카드 마우스 오버 효과 */
.button_effect1 {
	background-color: #333;
	color: black;
	line-height: 50px;
}

.button_effect1:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.button_effect2 {
	/* background-color: #333; */
	/* color: black; */
	
}

.button_effect2:hover {
	/* background-color: #fff; */
	/* border-color: #59b1eb; */
	color: #59b1eb;
}

.btn_1 {
	/* position: relative; */
	/* box-sizing: border-box; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	/* border: 2px solid #e74c3c; */
	/* border-radius: 0.6em; */
	/* color: #e74c3c; */
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	/* line-height: 1; */
	/* margin: 20px; */
	/* padding: 1.2em 2.8em; */
	text-decoration: none;
	/* text-align: center; */
	text-transform: uppercase;
	/* font-family: "Montserrat", sans-serif; */
	/* font-weight: 700; */
	margin: 0;

	/* z-index: -100; */
	/* transform: translateZ(-1); */
}

.btn_1:hover, .btn_1:focus {
	color: #fff;
	outline: 0;
}

.first {
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
	box-shadow: 0 0 40px 40px skyblue inset;
	transform: translateY(-10px);
}

.hover {
	display: inline-block;
	transition-duration: 0.5s;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover:hover {
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

:root {
	-nav_height: 50px;
	-nav_button_height: 48px;
}

/* 아이콘 컬러 변경 */
.icon_white {
	color: white;
}

.icon_gray {
	color: grey;
}

.icon_yellow {
	color: yellow;
}

.icon_green {
	color: green;
}

.icon_red {
	color: red;
}

.icon_blue {
	color: #59b1eb;
}

.icon_black {
	color: black;
}

.text_white {
	color: white;
}

.setSidebarSlogan {
	position: fixed;
	left: 270px;
}

.content {
	margin-letf: 270px !important;
}

.innerContent {
	position: fixed;
	left: 270px;
	height: inherit;
	width: inherit;
}

.setSidebarSet {
	position: fixed;
	left: 500px;
}

.sidemenu_button {
	width: 70px;
	background-color: white;
	height: 70px;
	border: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar_button {
	float: left;
	width: 70px;
}

#side_slide_button{
		background-color: black;
	
}

.sidebar_text {
	width: 230px;
	height: 70px;
	background-color: black;
	color: white;
	border: 1px solid gray;
	border-left: none;
	border-right: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar_text_2 {
	float: left;
	width: 100%;
	height: 70px;
	background-color: #242e3b;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	margin-top:50px;
	
	    
	
}

.sidebar_text_3 {
	float: left;
	width: 100px;
	height: 70px;
	background-color: black;
	color: white;
	border: 1px solid gray;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar_nav {
	border-bottom: 1px solid gray;
}

.sidebar_show {
}

.sidebar_edit {
	width: 100%;
/* 	background-color: white; */
}

.content {
	width: 1600px;
}

/* button css -----------------------------*/
.btn_no {
	border: none;
	box-shadow: none;
	cursor: default;
	outline: none;
}

.btn_no:active, .btn_no:focus, .btn_no::after {
	border: none;
	box-shadow: none;
	cursor: default;
	outline: none;
}

.btn_1 {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}

.btn_1:hover, .btn_1:focus {
	outline: 0;
}

.first {
	
}

.first:hover {
	background-color: #4153FF;
	transform: translateY(-10px);
	color: white;
}


.hover {
	display: inline-block;
	transition-duration: 0.5s;
	transition-property: transform;
}

.hover:hover {
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.button_effect2 {
	/* background-color: #333; */
	/* color: black; */
	
}

.button_effect2:hover {
	/* background-color: #fff; */
	/* border-color: #59b1eb; */
	color: #59b1eb;
}

/* 筌�醫뤿읂占쎌뵥燁삳�諭� css -----------------------------*/
.show_side_button {
	
}

.sidebar_menu_text {
	
}

.menu_info{
	float: left;
	width: 50%;
	height: 70px;
	background-color: #242e3b;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid black;
}

.menu_diff{
	float: left;
	width: 1000px;
	height: 70px;
	background-color: black;
	color: white;
	border: 1px solid gray;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainmenu-edit{
	float: left;
	width: 50%;
	height: 300px;
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
	
}

.menu{
/* 		display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
margin-left:30px;
margin-top:20px;
	
}

.left_menu_box{
	width:100%;
	height:350px;
}

