/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: #F9FAFB; */
}

.mainBody {
    width: 900px;
    height: calc(100vh - 200px);
    padding-top: 50px;
    margin-left: 500px;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f8f9fa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.mentorIntro {
    font-size: 32px;
    padding: 80px 10px 60px 10px;
}

.mentorHeader {
    display: inline-block;
    margin: 0;
}

.mentor {
	font-size: 35px;
	font-weight: bolder;
}

.reviewAddPage {}

.reviewAddPageContent {
    margin-bottom: 24px;
}

.starContentHeader {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.starContentHeaderName {
    font-size: 22px;
}

.addReviewContent {
    height: 370px;
    border-radius: 4px;
    border: 1px solid #e9ecef;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}

.addStarBox {
    display: flex;
    width: 100%;
    margin-left: 250px;
}

.starSelect {
    justify-content: center;
    width: 400px;
    padding: 50px 0 30px 0;
}

.stars {
    display: flex;
    justify-content: center;
}

.fa-star {
    font-size: 40px;
    cursor: pointer;
    color: #dee2e6;
    margin: 0 2px 0 2px;
}

.fa-star.active {
    color: #ffc807;
    /* text-shadow: 0 0 5px yellow; */
}

.myStar {
	font-size: 25px;
	color: #d7655b;
	pointer-events : none;
	margin: 0 1px 0 1px;
}

.starPoint {
	font-size: 20px;
	color: #d7655b;
	font-weight: bolder;
	margin-left: 5px;
}

.print {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.printContent {
    font-size: 20px;
}



.addReviewBox {
    width: 100%;
    /* margin: 15px 10px 10px 15px; */
}

.reviewBoxHeader {
    display: flex;

}

.reviewBox {
    display: flex;
    justify-content: center;
}

.reviewContent {
    display: flex;
    width: 700px;
    border-bottom: 0;
    border: 1px solid #dee2e6;
    background-color: white;
}

.reviewText {
    width: 100%;
    font-weight: 400;
    line-height: 1.47;
    letter-spacing: -.3px;
    font-size: 15px;
    padding: 13px 12px;
    min-height: 102px;
    border: none;
    background-color: #fff;
    color: #495057;
    resize: none;
}

.reviewText:focus {
    outline: none;
}

.reviewButtonBox {
    display: flex;
    justify-content: center;
}

.reviewButtonSpace {
    display: flex;
    justify-content: flex-end;
    width: 700px;
}

.reviewButton {
    /* all: unset !important; */
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    outline: 0;
    width: 100px;
    height: 100%;
    font-size: 20px;
    /* #4070f7 */
    border: 2px solid #AEADAD;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.reviewButtonSpace2 {
    display: flex;
    align-items: flex-end;
    background-color: white;
    margin: 7px;
}

.description {
    font-size: 20px;
}

.descriptionContent {
    font-size: 18px;
}