.logbox {
	width: 100%;
	background-color: black;
	overflow: auto;
	height: 700px;
}

.loglist {
	color: white;
	font-size: 18px;
	margin-left: 10px;
}

.loglist_error {
	color: red;
	font-size: 18px;
	margin-left: 10px;
}

.log_outerbox {
	width: 90%;
}